Source: desktop-integrated-webserver
Section: utils
Priority: optional
Maintainer: Felicitas Pojtinger <felicitas@pojtinger.com>
Build-Depends: debhelper-compat (= 13), golang-go (>= 1.15), imagemagick (>= 8), ca-certificates (>= 20200601)
Standards-Version: 4.5.1
Homepage: https://github.com/pojntfx/multi-browser-electron
Vcs-Browser: https://github.com/pojntfx/multi-browser-electron
Vcs-Git: https://github.com/pojntfx/multi-browser-electron.git
Rules-Requires-Root: no

Package: desktop-integrated-webserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: chromium (>= 90)
Description: simple hello world example
 A simple hello world example to demonstrate DEB packaging.
