#!/usr/bin/make -f
SIZES ?= 16x16 22x22 24x24 32x32 36x36 48x48 64x64 72x72 96x96 128x128 192x192 256x256 512x512 1024x1024

%:
	dh $@

override_dh_auto_build:
	make PREFIX=/usr

override_dh_auto_install:
	make PREFIX=/usr DESTDIR=$$(pwd)/debian/desktop-integrated-webserver install
	install -D -m0644 desktop-integrated-webserver.metainfo.xml /usr/share/metainfo/desktop-integrated-webserver.metainfo.xml
