[Desktop Entry]
Version=1.0
Type=Application
Name=Integrated Webserver Example Flatpak
Comment=A simple hello world example to demonstrate packaging.
Exec=flatpak-integrated-webserver
Icon=flatpak-integrated-webserver
Categories=Utility;
