#!/usr/bin/make -f
SIZES ?= 16x16 22x22 24x24 32x32 36x36 48x48 64x64 72x72 96x96 128x128 192x192 256x256 512x512 1024x1024

export HOME = $(CURDIR)

%:
	dh $@

override_dh_auto_build:
	make PREFIX=/usr

override_dh_auto_install:
	make PREFIX=/usr DESTDIR=$$(pwd)/debian/com.pojtinger.flatpakintegratedwebserver install
	install -D -m 0644 com.pojtinger.flatpakintegratedwebserver.metainfo.xml $$(pwd)/debian/com.pojtinger.flatpakintegratedwebserver/usr/share/metainfo/com.pojtinger.flatpakintegratedwebserver.metainfo.xml
