<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.app">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="Android Native Activity Go Example" android:hasCode="false">
        <activity android:name="android.app.NativeActivity" android:theme="@android:style/Theme.NoTitleBar">
            <meta-data android:name="android.app.lib_name" android:value="nativeactivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>